.hall-configuration{
    background-color: #2B2E4A;
    height: 25rem;
    width: 50%;
    margin-left: 25%;
}

.seat-link{
    background-color: #767676;
    align-content: center;
    color: #2B2E4A;
}

.seat-link-disabled,
.seat-link-disabled:hover{
    background-color: #53354A;
    align-content: center;
    color: #767676;
    cursor: default;
}

.seat-link-selected{
    background-color: #f64b4b;
    align-content: center;
    color: #2B2E4A;
}

.continue_btn{
    background-color: #f64b4b;
    color: #2B2E4A;
    border: none;
}

.continue_btn:hover{
    background-color: #f64b4b;
    color: #2B2E4A;
    border: none;
    box-shadow:  0 10px 10px 0 rgba(0, 0, 0,0.2),0 6px 10px 0 rgba(0, 0, 0,0.19)}

.seat-link-selected:hover {
    cursor: pointer;
    color: #2B2E4A;
    box-shadow:  0 10px 10px 0 rgba(0, 0, 0,0.2),0 6px 10px 0 rgba(0, 0, 0,0.19)}

.continue_btn_disabled{
    background-color: #53354A !important;
    color: #767676 !important;
    border: none;
    cursor: default;
}

.seat-link:hover{
    background-color: #767676;
    align-content: center;
    color: #2B2E4A;
    cursor: pointer;
    box-shadow:  0 10px 10px 0 rgba(0, 0, 0,0.2),0 6px 10px 0 rgba(0, 0, 0,0.19)
}

.card{
    display: flex;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}